

*{
  margin: 0;
  box-sizing: border-box;
}

html{
  font-family: sans-serif;
  font-size: 12px;
}
 .image-one, .image-three, .text-two{
  width: 375px;
  height: 360px;
 
}
.treat-container h4{
  
    
    text-align: center;
  
}

.section-one, .treat-container, .section-three{
  display: flex;
  justify-content: center;
  // width: calc(400*2px);
  flex-wrap: wrap;
  
}
.section-one{
  // position: relative;
  // height: 400px;
  height: auto;
}


.treat-title{
  text-align: center;
  width: 375px;
  background-color: rgba(236, 236, 236, 0.572);
  margin: 40px auto 0;
  padding-top: 40px;

}

.text-one{
  position: relative;
  padding-top: 10px;
  width: 375px;

  .text-header{
    margin:2em 40px;
  }
  h4{
    margin: 0 40px 0;
    font-size: 1.5em;
  }
  p{
    margin: 10px 40px 10px;
  }
  ul{
    margin: 13px;
    margin-right: 40px;
    li{
      margin-top: 1em;
    }
  }
}

.text-two{
  padding: 30px;
  h4{
    margin: 40px 40px 0;
  }
  p{
    margin: 10px 40px 10px;
  }
  li{
    list-style: none;
    margin:1em 0;
  }

  ul li:before {
    content: '✓'; 
    margin-right: 5px;
   }
}


.offer{

  // margin: 0 auto;
  text-align: center;
  padding: 10px;
  font-size: 13px;
  left: 50%;
  transform: translate(-50%, 0);
  // border: dotted;
  background-color: rgb(215, 134, 52) ;
  color: white;
  position: fixed;
  bottom: 0;
  width: 355px;
  z-index: 2;
}
.treat-text{
  position: absolute;
  width: 100%;
  bottom: 9%;
  text-align: center;
  
  h4{
    margin-bottom: .7em;
  }
}
.treat{
  background-color: rgba(236, 236, 236, 0.572);
  background-image: url('./images/cat_treats_fd_minnows_01\ 3.png');
  background-repeat: no-repeat;
  padding-bottom: 110px;
  position: relative;
  width: 375px;
  height: 500px;

}

.image-three{
  width: 375px;
  height: 400px;
}

.treat-two{
  display: none;
}

@media screen and (min-width: 768px) {
  .treat-two{
    display: block;
  }
  .treat-title{
    width: 750px;
  
  }
.image-one{
  order: 2;
}

  .text-one{
    order: 1;
  }
  .offer{
    position: absolute;
    bottom: 10%;
    width: 80%;
  }

}