* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{
  display: flex;
  justify-content: center;
}

.flex-one{
  display: flex;
  flex-wrap: wrap;
  border: dotted;
 img, .text-one{
    margin: 0 auto;
    width: 400px;
  }
 img{
    order: 1;
    // object-fit: cover;
    border:dotted;
  }
  img{
    object-fit: cover;
  }
}

.flex-two{
  display: flex;
  flex-wrap: wrap;
 

  margin: 0 auto;
  .treat-container{
    position: relative;
    margin: 0 auto;
    // padding-bottom: 100px !important;
    background-color: gray;
    // width: 400px; 
    flex-basis: 403px;
    // width: 50%;
    height: 481px;
    border:dotted;
    background-image: url("./images/cat_treats_fd_minnows_01\ 3.png");
  }

  .treat-text{
    border: dotted;
    width: 100%;
    position: absolute;
    bottom: 8%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .treat-container-two{
    display: none;
  }

}

.our-treat{
  // margin: 0 auto;
  text-align: center;
}

.flex-three{
  display: flex;
  flex-wrap: wrap;
 img, .text-three{
    margin: 0 auto;
    width: 400px;
  }
}

@media screen and (min-width: 275px) {
  .treat-container-two{
    display: block;
  }
}
